@media only screen and (max-width:992px){

.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
#btn{
  height: 60px;
  width: 120px;
  font-size: 15px;
  background: white;
  font-family: 'Montserrat', sans-serif;
  display: block;
  position: absolute;
}
.mySidenav a {
    position: absolute; 
    right: -200px;
    transition: 0.3s; 
    padding: 15px; 
    width: 0px;
    text-decoration: none; 
    font-size: 13px; 
    color: black; 
    border-radius: 0 5px 5px 0;
    position: fixed;
}
.navigation {
  margin-top: 200px;
  display:block;
  list-style:none;
  position: fixed;
}
.header{
  position: fixed;
  width: 335px;
  top: 55px;
  left: -32px;
}
.header h1{
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px;
  background: white;
}
.navigation a{
  color: black;
  display: block;
  background: white;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 6px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 15px;
  color: white;
  font-weight: bold;
  z-index: 1;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.text {
  color: #f2f2f2;
  font-size: 13px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.polnometrag {
  background: none;
  width: 70%;
}
.images{
  background: none;
  width: 70%;
}
.texty{
  background: none;
  width: 60%;
}
.img-item {
  margin-bottom: 1px;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  width: -10%;
  padding-left: 10px;
  padding-right: 200px;
  margin: 5px;
  text-align: center;
}
.puk{
  width: 460px;
  height: 300px;
}
h4{
  font-size: 19px;
}
p{
  font-size: 16px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (max-width:768px){

.slideshow-container {
  max-width: 310px;
  position: relative;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
#btn{
  height: 50px;
  width: 80px;
  font-size: 10px;
  background: white;
  font-family: 'Montserrat', sans-serif;
  display: block;
  position: absolute;
}
.mySidenav a {
    position: absolute; 
    right: -330px;
    transition: 0.5s; 
    text-decoration: none; 
    font-size: 13px; 
    color: black; 
    border-radius: 0 5px 5px 0;
    position: fixed;
}
table {
font-family: 'Montserrat', sans-serif;
text-align: center;
background: white;
border: 1px solid #ECE9E0;
border-radius: 1px;
}
th,td,tr {
font-size: 11px;
}
.images{
  background: none;
  width: 50%;
}
.texty{
  background: none;
  width: 60%;
}
.navigation {
  margin-top: 200px;
  width: 110px;
  display:block;
  list-style:none;
  position: fixed;
}
.header{
  position: fixed;
  width: 300px;
  top: 25px;
  left: -32px;
}
.header h1{
  font-size: 10px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 20px;
  background: white;
}
.navigation a{
  color: black;
  display: block;
  background: white;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 6px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 15px;
  color: white;
  font-weight: bold;
  z-index: 1;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.polnometrag {
  background: none;
  width: 70%;
}
.img-item {
  margin-bottom: 1px;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  width: -10%;
  padding-left: 10px;
  padding-right: 200px;
  margin: 5px;
  text-align: center;
}
.puk{
  width: 320px;
  height: 200px;
}
h4{
  font-size: 14px;
}
p{
  font-size: 15px;
}
table {
font-family: 'Montserrat', sans-serif;
text-align: left;
background: white;
border: 9px solid #ECE9E0;
border-radius: 20px;
}
th {
font-size: 13px;
padding: 15px;
}
td {
background: white;
padding: 3px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (max-width:480px){
.slideshow-container {
  max-width: 210px;
  position: relative;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
#btn{
  height: 40px;
  width: 70px;
  font-size: 9px;
  background: white;
  font-family: 'Montserrat', sans-serif;
  display: block;
  position: absolute;
}
.mySidenav a {
    position: absolute; 
    right: -200px;
    transition: 0.3s; 
    padding: 15px; 
    width: 0px;
    text-decoration: none; 
    font-size: 13px; 
    color: black; 
    border-radius: 0 5px 5px 0;
    position: fixed;
}
table {
font-family: 'Montserrat', sans-serif;
text-align: center;
background: white;
border: 10px solid #ECE9E0;
border-radius: 20px;
}
th {
font-size: 10px;
padding: 1px;
}
td {
background: white;
padding: 1px;
}
.images{
  background: none;
  width: 50%;
}
.texty{
  background: none;
  width: 60%;
}
.navigation {
  margin-top: 200px;
  width: 110px;
  display:block;
  list-style:none;
  position: fixed;
}
.header{
  position: fixed;
  width: 300px;
  top: 25px;
  left: -32px;
}
.header h1{
  font-size: 10px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 20px;
  background: white;
}
.navigation a{
  color: black;
  display: block;
  background: white;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 6px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 15px;
  color: white;
  font-weight: bold;
  z-index: 1;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.polnometrag {
  background: none;
  width: 70%;
}
.img-item {
  margin-bottom: 1px;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  width: -10%;
  padding-left: 10px;
  padding-right: 200px;
  margin: 5px;
  text-align: center;
}
.puk{
  width: 320px;
  height: 200px;
}
h4{
  font-size: 14px;
}
p{
  font-size: 15px;
}
table {
font-family: 'Montserrat', sans-serif;
text-align: left;
background: white;
border: 9px solid #ECE9E0;
border-radius: 20px;
}
th {
font-size: 13px;
padding: 15px;
}
td {
background: white;
padding: 3px;}